@import '../../node_modules/bulmaswatch/superhero/variables';

$family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$bulmaswatch-import-font: false;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-checkradio/src/sass/index';
@import '../../node_modules/bulmaswatch/superhero/overrides';

// workaround because node_modules wasn't resolved
@import 'tippy/tippy';

@import 'github-corner';
@import 'icons';
@import 'progress-indeterminate';

/* custom css */

@font-face {
  font-family: "LifeCraft";
  src: url(../fonts/LifeCraft_Font.ttf) format("truetype");
}

h1 {
  font-family: 'LifeCraft', sans-serif;
  font-weight: normal;
  margin-left: 1rem;
  color: white;
}

.tippy-content table tbody td {
  padding: 0.4rem;
}

.negative:before {
  content: "-";
}

a + .currency {
  margin-left: 0.1em;
}

.tippy-tooltip {
  max-width: none !important;
}

.lossy-recipes-hint,
.unlisted-recipes-hint {
  cursor: pointer;
}

#auction-craft-sniper {
  margin-bottom: 1.5rem;
}

.unlisted-recipes,
.lossy-recipes,
#hint-invalid-region-realm,
#settings-modal,
#auction-craft-sniper,
#description,
#progress-bar-wrap,
#last-update-wrap,
#house-unavailable-disclaimer,
#general-tsm-export,
#next-update-wrap,
#hint-missing-professions,
[id^="hint-invalid-"] {
  display: none;
}

.blacklisted {
  opacity: 0.3;
  transition: 300ms all ease-in-out;
}

table {
  width: 100%;
}

div.tabs.is-boxed.is-small {
  overflow: hidden;
}

li[data-profession-tab] {
  display: none;

  &.is-active a i.icon-disabled,
  &:hover a i.icon-disabled {
    opacity: 1;
    filter: none;
  }

  & a i + span {
    margin-left: .5rem;
  }

  &:last-of-type:hover i {
    animation: spin 1s infinite linear;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(359deg)
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.tsm {
  cursor: pointer;
  background: url(../img/tsm-icon.png) no-repeat;
  height: 33px;
  width: 33px;

  &:hover {
    animation: spin 1s infinite linear;
  }
}

.tag:not(body).is-warning {
  vertical-align: top;
  margin-right: .2rem;
}

footer, .hero {
  background-color: #2B3E50;
  color: #f5f5f5;
}

a.is-loading {
  background-color: #fff;
  border-color: #dee5ed;
  box-shadow: none;
  opacity: .5;
}

.visible {
  display: block !important;
}

/* https://stackoverflow.com/questions/50400219/bulma-progress-text-in-middle */

#progress-bar {
  position: relative;
}

#progress-bar:after {
  content: attr(data-state);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1.25rem / 1.5);
  line-height: 1.25rem;
}

.horde {
  background-color: #8c161660;
}

.alliance {
  background-color: #14458760;
}

.field input[type="number"] {
  width: 33.33%;
}

.field input[type="number"] + label {
  height: 2.25em;
  position: relative;
  top: 7px;
}

#auction-craft-sniper table thead th:not(:first-of-type) {
  text-align: right;
}

#auction-craft-sniper table tbody td:nth-of-type(2) {
  cursor: pointer;
}

h2.title {
  font-family: 'LifeCraft', sans-serif;
}

svg.svg {
  width: 23px;
  height: 23px;
  vertical-align: inherit;
}

.button,
#professions label.checkbox {
  transition: 200ms ease-in-out;
}

.blurred {
  filter: blur(5px);
}

#description .image {
  transition: filter 200ms ease-out;
}

a.button:hover,
#professions label.checkbox:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  filter: brightness(130%);
}

.notification {
  position: absolute;
  margin-bottom: 1rem !important;
  right: 1rem;
  bottom: 0;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  .columns {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .control.select, .control.select select {
    width: 100%;
  }
}

@media (max-width: 1090px) {
  #general-tsm-export {
    display: none !important;
  }

  td.tsm {
    background-image: none;
    pointer-events: none;
  }

  .columns {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1279px) {
  .column a.button {
    width: 100%;
  }

  .column a.button:not(:first-of-type) {
    margin-top: .3rem;
  }
}
