@import "../../node_modules/bulmaswatch/superhero/variables";

$family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
$bulmaswatch-import-font: false;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-checkradio/src/sass/index";
@import "../../node_modules/bulmaswatch/superhero/overrides";

// workaround because node_modules wasn't resolved
@import "tippy/tippy";

/* custom css */

@font-face {
  font-family: "LifeCraft";
  src: url(../fonts/LifeCraft_Font.ttf) format("truetype");
}

h1 {
  font-family: "LifeCraft";
  font-weight: normal;
  margin-left: 1rem;
  color: white;
}

/** ICONS **/

.professions-sprite {
  background-image: url(../img/sprite-professions-min.png);
  background-repeat: no-repeat;
  display: inline-block;

  transition: 0.33s ease-in-out;
}

i.professions-sprite {
  width: 32px;
  height: 32px;
  cursor: pointer;

  + input {
    display: none;
  }
}

i:focus {
  outline: none;
}

.professions-sprite {
  &.icon-disabled {
    filter: grayscale(100%);
    opacity: 0.5;
  }

  &.alchemy {
    background-position: 0 0;
  }

  &.blacksmithing {
    background-position: -32px 0;
  }

  &.cooking {
    background-position: -64px 0;
  }

  &.enchanting {
    background-position: 0 -32px;
  }

  &.engineering {
    background-position: -32px -32px;
  }

  &.inscription {
    background-position: -64px -32px;
  }

  &.jewelcrafting {
    background-position: 0 -64px;
  }

  &.leatherworking {
    background-position: -32px -64px;
  }

  &.tailoring {
    background-position: -64px -64px;
  }
}

main,
footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

body {
  color: white;
}

.copper:after {
  background-image: url("https://wow.zamimg.com/images/icons/money-copper.gif");
}

.gold:after {
  background-image: url("https://wow.zamimg.com/images/icons/money-gold.gif");
}

.silver:after {
  background-image: url("https://wow.zamimg.com/images/icons/money-silver.gif");
}

.currency:after {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-repeat: no-repeat;
  content: "";
  position: relative;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
  top: 0.1rem;
}

.tuj {
  width: 15px;
  height: 15px;
  background: white url(https://theunderminejournal.com/images/favicons/favicon-16x16.png) no-repeat;
  display: inline-block;
  padding: 0.1rem;
}

.tippy-content table tbody td {
  padding: 0.4rem;
}

.negative:before {
  content: "-";
}

a + .currency {
  margin-left: 0.1em;
}

.tippy-tooltip {
  max-width: none !important;
}

.lossy-recipes-hint {
  text-align: center;
  cursor: pointer;
}

.lossy-recipes {
  display: none;
}

.blacklisted {
  opacity: 0.3;
  transition: 300ms all ease-in-out;
}

.recipe-is-invisible,
.recipe-is-visible {
  height: 33px;
  width: 33px;
  background-repeat: no-repeat;
}

.recipe-is-visible {
  background-image: url(../img/is-visible.png);
}

.recipe-is-invisible {
  background-image: url(../img/is-invisible.png);
}

table {
  width: 100%;
}

/* Github Corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
