/** ICONS **/

i.professions-sprite {
  width: 32px;
  height: 32px;
  cursor: pointer;

  + input {
    display: none;
  }
}

i:focus {
  outline: none;
}

.professions-sprite {
  background-image: url(../img/sprite-professions-min.png);
  background-repeat: no-repeat;
  display: inline-block;

  transition: 0.33s ease-in-out;

  &.icon-disabled {
    filter: grayscale(100%);
    opacity: 0.5;
  }

  &.alchemy {
    background-position: 0 0;
  }

  &.blacksmithing {
    background-position: -32px 0;
  }

  &.cooking {
    background-position: -64px 0;
  }

  &.enchanting {
    background-position: 0 -32px;
  }

  &.engineering {
    background-position: -32px -32px;
  }

  &.inscription {
    background-position: -64px -32px;
  }

  &.jewelcrafting {
    background-position: 0 -64px;
  }

  &.leatherworking {
    background-position: -32px -64px;
  }

  &.tailoring {
    background-position: -64px -64px;
  }
}

.copper:after {
  background-image: url("https://wow.zamimg.com/images/icons/money-copper.gif");
}

.gold:after {
  background-image: url("https://wow.zamimg.com/images/icons/money-gold.gif");
}

.silver:after {
  background-image: url("https://wow.zamimg.com/images/icons/money-silver.gif");
}

.currency:after {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-repeat: no-repeat;
  content: "";
  position: relative;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
  top: 0.1rem;
}

.tuj {
  width: 15px;
  height: 15px;
  background: white url(https://theunderminejournal.com/images/favicons/favicon-16x16.png) no-repeat;
  display: inline-block;
  padding: 0.1rem;
}

span.icon {
  height: 32px !important;
  width: 32px !important;
  position: relative;
  top: 4px;
}

#settings span.icon {
  background: url(/assets/img/icon-wrench.jpg) no-repeat;
}

#search span.icon {
  background: url(/assets/img/icon-spyglass.jpg) no-repeat;
}

#showLocalStorage span.icon {
  background: url(/assets/img/icon-info.jpg) no-repeat;
}

#clearLocalStorage span.icon {
  background: url(/assets/img/icon-nuke.jpg) no-repeat;
}

.recipe-is-invisible,
.recipe-is-visible {
  height: 33px;
  width: 33px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.recipe-is-visible {
  background-image: url(../img/is-visible.png);
}

.recipe-is-invisible {
  background-image: url(../img/is-invisible.png);
}

label i.professions-sprite {
  position: relative;
  top: 2px;
}
