th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 10px;
  border-width: 0 6px 6px;
  border-style: solid;
  border-color: #bdcbdb transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-left: 2px;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 6px 6px 0;
  margin-left: 2px;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
  margin-left: 2px;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}
