/* custom css */

@font-face {
    font-family: "LifeCraft";
    src: url(../fonts/LifeCraft_Font.ttf) format("truetype");
}

h1 {
    font-family: "LifeCraft";
    font-weight: normal;
    margin-left: 1rem;
    color: white;
}

/** ICONS **/

.professions-sprite {
    background-image: url(../img/sprite-professions-min.png);
    background-repeat: no-repeat;
    display: inline-block;

    transition: 0.33s ease-in-out;
}

i.professions-sprite + input {
    display: none;
}

[class*="icon-"] {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.professions-sprite.icon-disabled {
    filter: grayscale(100%);
    opacity: 0.5;
}

/* ALCHEMY */
.professions-sprite.icon-1 {
    background-position: 0 0;
}

/* Blacksmithing */
.professions-sprite.icon-2 {
    background-position: -32px 0;
}

/* COOKING */
.professions-sprite.icon-3 {
    background-position: -64px 0;
}

/* ENCHANTING */
.professions-sprite.icon-4 {
    background-position: 0 -32px;
}

/* ENGINEERING */
.professions-sprite.icon-5 {
    background-position: -32px -32px;
}

/* INSCRIPTION */
.professions-sprite.icon-6 {
    background-position: -64px -32px;
}

/* JEWELCRAFTING */
.professions-sprite.icon-7 {
    background-position: 0 -64px;
}

/* LEATHERWORKING */
.professions-sprite.icon-8 {
    background-position: -32px -64px;
}

/* TAILORING */
.professions-sprite.icon-9 {
    background-position: -64px -64px;
}

main, footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}

header, footer {
    background-color: #262321;
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
}
